<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button"
        data-bs-toggle="dropdown" aria-expanded="false">
        Operations
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item" href="add.html">Add Operation</a></li>
        <li>
            <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item" href="operationslist.html">All operations</a></li>
    </ul>
</li>
<li class="nav-item dropdown">
    <a id="userEmail" class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button"
        data-bs-toggle="dropdown" aria-expanded="false">
        <!--here goes the user identificator (email)-->
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item" href="/logout">LogOut <i class="fas fa-sign-out-alt"></i></a></li>
        
    </ul>
</li>