<nav class="navbar navbar-expand-lg navbar-light mb-3" style="background-color: #58c0f4">
    <div class="container">
        <a class="navbar-brand" href="/operations">Alkemy Challenge</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">

                    <!--Here goes the navbar data -->
                    
                    <!--Here goes the navbar data if user is logged-->

            </ul>
        </div>

    </div>
</nav>